<div *ngIf="state$ | async as state">
  <mat-card *ngFor="let project of state.projects">
    <mat-card-header>
      <mat-card-title>{{ project.title }}</mat-card-title>
      <mat-card-subtitle>{{ project.citations.length }} Citations</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="project.style && project.id == state.selectedProject">
        <b>Style: </b>
        <app-style-select></app-style-select>
      </div>
      <div *ngIf="project.style && project.id != state.selectedProject">
        <b>Style:</b> {{ project.style.value }}
      </div>
      <div *ngIf="state.locale && project.id == state.selectedProject">
        <b>Locale: </b>
        <app-locale-select></app-locale-select>
      </div>
      <div *ngIf="state.locale && project.id != state.selectedProject">
        <b>Locale:</b> {{ state.locale.value }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <span style="margin: 5px;">
        <vaadin-button theme="secondary small" [disabled]="state.selectedProject == project.id" (click)="selectProject(project.id)">{{(state.selectedProject == project.id ? 'Selected Project': 'Select')}}</vaadin-button>
      </span>
      <span style="margin: 5px;">
          <vaadin-button theme="secondary small" routerLink="/styles">Add Styles</vaadin-button>
        </span>
      <span style="margin: 5px;">
        <vaadin-button theme="error small" [disabled]="state.selectedProject == project.id" (click)="deleteProject(project.id)">Delete</vaadin-button>
      </span>
    </mat-card-actions>
  </mat-card>
  <mat-card>
      <mat-card-header>
        <mat-card-title>New Project</mat-card-title>
        <mat-card-subtitle>0 Citations</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="newProjectSelectedStyle">
          <b>Style: </b> 
          <mat-form-field>
            <mat-select [(value)]="newProjectSelectedStyle" [placeholder]="newProjectSelectedStyle.value">
              <mat-option *ngFor="let style of favoriteStyles" [value]="style">{{ style.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="state.locale">
          <b>Locale:</b> {{ state.locale.value }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <span style="margin: 5px;">
          <vaadin-button theme="secondary small" (click)="createProject()">Create</vaadin-button>
        </span>
      </mat-card-actions>
  </mat-card>
</div>