<vaadin-app-layout id="app-layout">
    <h3 slot="branding">CloudCite</h3>
    <vaadin-tabs slot="menu">
        <vaadin-tab theme="icon-on-top" routerLink="/">
            <iron-icon icon="vaadin:home"></iron-icon>
            Dashboard
        </vaadin-tab>
        <vaadin-tab theme="icon-on-top" routerLink="/projects">
            <iron-icon icon="vaadin:modal-list"></iron-icon>
        Projects
        </vaadin-tab>
        <vaadin-tab theme="icon-on-top" routerLink="/about">
            <iron-icon icon="vaadin:info-circle"></iron-icon>
            About
        </vaadin-tab>
    </vaadin-tabs>
    <router-outlet></router-outlet>
</vaadin-app-layout>
