$blue: #005eea;
$responsive: 800px;

// Media Query mixin (threshold based on $responsive variable)
@mixin mq {
  @media screen and (max-width:$responsive) {
    @content;
  }
}

// The Navigation Bar!
#navbar {
  position:fixed;
  top:0;
  z-index:10;
  
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-content:center;

  width:100vw;
  height:45px;
  
  overflow: hidden;
  
  background-color:#fff;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(#000,0.4);

  // Responsive Nav Bar
  @include mq{
    transition:height 0.2s ease-out;
    flex-direction: column;
    flex-wrap:nowrap;
    height:45px;
    &.responsive {
      height:358px;
    }

    // First Nav Link
    :nth-child(2){
      margin-top:5px;
      border-top:2px solid rgba(#000,0.1);
    }
  }

  // CloudCite
  #nav-logo{
    color:$blue;
    font-size:24px;
    font-weight:bold;

    // Space between logo and quick-settings/hamburger icons
    @include mq{
      margin-right:auto;
    }
  }

  // Nav Links
  a {
    cursor: pointer;
    font-size:16px;
    
    box-sizing: border-box;
    padding: 12px 16px;

    color:#000;

    // Non-logo/menu-item Nav Links
    &:not(#nav-logo):not(.nav-right){
      background-color:white;
      transition: background-color,border-bottom 0.2s ease-out;
      &:hover{
       transition: background-color,border-bottom 0.2s ease-out;
        border-bottom:4px solid $blue;
        background-color:darken(#fff,10);
      }

      // Current route
      &.current:not(#nav-logo):not(.nav-right) {
        border-bottom:4px solid $blue;
        background-color:darken(#fff,10);

        @include mq {
          border-bottom:none;
          border-left:4px solid $blue;
        }
      }

      // Responsive Nav Links
      @include mq {
        transition: background-color,border-left 0.2s ease-out;
        display:block;
        width:100vw;
        background-color:darken(#fff,2);


        &:hover{
         transition: background-color,border-left 0.2s ease-out;
          border-bottom:none;
          border-left:4px solid $blue;
          background-color:darken(#fff,10);
        }
      }


    }

    // Last Nav link
    &:nth-child(8) {
      margin-right:auto; // Space between last link and Quick Settings/Hamburger Links
    }
  }

  // Quick Settings & Hamburger Menu
  .nav-right {
    font-size:24px;

    &#quick-settings {
      transition: transform 0.3s ease-out;
      margin-right:30px;
      line-height:20px;

      // If showing settings pull-tab
      &.active {
        transform: rotate(45deg);
        color: $blue;
      }
    }
    &#burger{
      display:none;
    }

    // Responsive quick-settings & hamburger menu positioning
    @include mq {
      position:fixed;
      top:0;
      &#quick-settings {
        right:0.5rem;
      }
      &#burger{
        display:block;
        right:0;
      }
    }
  }
}

// @media screen and (max-width: 680px) {
  // .nav {
  //   overflow:none;

  //   a {

  //     &:not(:first-child) {
  //      display: none;
  //     }

  //     &:last-child {
  //       position:absolute;
  //       padding:none;
  //       max-height:47px;
  //       max-width:45px;
  //     }
      
  //     &#burger {
  //       display:block;
  //       top:0;
  //       right:10px;
  //       .icon{
  //         cursor: pointer;
  //       }
  //     }
  //   }
    
  //   &.responsive {
  //     a {
  //       float: none;
  //       display: block;
  //       text-align: left;
  //       &:not(:first-child):not(:last-child) {
  //         background-color:darken(#fff,5);
  //         &:hover {
  //           background-color:darken(#fff,20);
  //           border-left :5px solid $blue;
  //         }

  //         &.current:not(:first-child):not(:last-child){
  //           border-left :5px solid $blue;
  //           background-color:darken(#fff, 20);
  //           color:$blue;
  //           font-weight:bold;
  //         }
  //       }
  //     }
  //   }
  // } 
// }

// Darkness behind quick tab
.darkness {
  display:none;
  &.active {
    display:block;
    position:fixed;
    z-index:1;
    top:0vh;
    left:0vw;
    width:100vw;
    height:100vh;
    background-color:rgba(#000,0.5);
  }
}