$blue: rgb(66, 134, 244);
@mixin easeOut {
  transition: all 0.5s ease-out;
}

.nav {
  top:0;
  width:100vw;
  position:fixed;
  overflow: hidden;
  background-color:#fff;
  box-shadow: 0 0 1rem rgba(#000,0.2);
  z-index:10;

  :first-child {
    font-weight:bold;
    font-size:24px;
    color:rgb(0, 94, 234);
  }

  &:not(.responsive){
    a:not(:first-child):not(:last-child):hover{
     border-bottom :5px solid $blue;
     padding: 11.5px 14px;
    }
    
    a.current:not(:first-child):not(:last-child){
      border-bottom :5px solid $blue;
      padding: 11.5px 14px;
      background-color:rgba(darken(#fff, 15) ,0.5);
      color:$blue;
    }
  }

  a {
    @include easeOut;
    float: left;
    display: block;
    color: #37474f;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    &:not(:first-child):not(:last-child):hover{
      @include easeOut;
      background-color:rgba(darken(#fff, 15) ,0.5);
    }

    &#burger {
      display:none;
    }
  }
}

@media screen and (max-width: 680px) {
  .nav {
    overflow:none;

    a {
      @include easeOut;

      &:not(:first-child) {
       display: none;
      }

      &:last-child {
        position:absolute;
        padding:none;
        max-height:47px;
        max-width:45px;
      }
      
      &#burger {
        display:block;
        top:0;
        right:10px;
        .icon{
          cursor: pointer;
        }
      }
    }
    
    &.responsive {

      a {
        float: none;
        display: block;
        text-align: left;
        &:not(:first-child):not(:last-child) {
          @include easeOut;
          background-color:darken(#fff,5);
          &:hover {
            @include easeOut;
            background-color:darken(#fff,20);
            border-left :5px solid $blue;
          }

          &.current:not(:first-child):not(:last-child){
            border-left :5px solid $blue;
            background-color:darken(#fff, 20);
            color:$blue;
            font-weight:bold;
          }
        }
      }
    }
  } 
}


.settingsLink {
  position:fixed;
  text-align:center;
  z-index:2;
  background-color: #fff;
  font-size:32px;
  border-radius:8px;
  right:2.5rem;
  padding:8px 4px;
  line-height:32px;
  bottom:2rem;
  color:#666;
  box-shadow:0 0 1rem rgba(#000,0.2);
  overflow: hidden;
  outline:none;
  border:none;

  &:hover{
    @include easeOut;
    color: #000;
    box-shadow:0 0 1rem rgba(#000,0.4);
    cursor:pointer;
  }
  @media screen and (max-width: 680px) {
    position: fixed;
    z-index:11;
    outline:none;
    border:none;
    right:45px;
    top:0;
    line-height:0;
    max-height:16px;
    font-size:24px;
    box-shadow:none;
    overflow: visible;
    padding:0;
    border-radius:initial;
    &:hover {
    @include easeOut;
     color: #000;
     box-shadow:none;
    }
  }


}

.pullMenu {
  position: absolute;

  background-color: rgba(#000,0.8);
  display:none;

  &.active {
    display:block;
  }
}

.darkness {
  display:none;
  &.active {
    display:block;
    position:absolute;
    z-index:1;
    top:0vh;
    left:0vw;
    width:100vw;
    height:100vh;
    background-color:rgba(#000,0.5);
  }
}