$blue: rgb(66, 134, 244);
@mixin easeOut {
  transition: all 0.5s ease-out;
}

.nav {
  @include easeOut;
  overflow: hidden;
  background-color:#fff;
  box-shadow: 0 0 1rem rgba(#000,0.2);

  :first-child {
    font-weight:bold;
    font-size:1.6rem;
    color:rgb(0, 94, 234);
  }

  &:not(.responsive){
    a:not(:first-child):not(:last-child):hover{
     border-bottom :5px solid $blue;
     padding: 11.5px 14px;
    }
    
    a.current:not(:first-child):not(:last-child){
      border-bottom :5px solid $blue;
      padding: 11.5px 14px;
      background-color:rgba(darken(#fff, 15) ,0.5);
      color:$blue;
    }
  }

  a {
    @include easeOut;
    float: left;
    display: block;
    color: #37474f;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    &:not(:first-child):not(:last-child):hover{
      @include easeOut;
      background-color:rgba(darken(#fff, 15) ,0.5);
    }

    &#burger {
      display:none;
    }
  }
}

@media screen and (max-width: 680px) {
  .nav {
    @include easeOut;
    overflow:none;

    a {
      @include easeOut;

      &:not(:first-child) {
       display: none;
      }

      &:last-child {
        position:absolute;
        padding:none;
        max-height:47px;
        max-width:45px;
      }
      
      &#burger {
        display:block;
        top:0;
        right:10px;
        .icon{
          cursor: pointer;
        }
      }
    }
    
    &.responsive {

      a {
        float: none;
        display: block;
        text-align: left;
        &:not(:first-child):not(:last-child) {
          @include easeOut;
          background-color:darken(#fff,5);
          &:hover {
            @include easeOut;
            background-color:darken(#fff,20);
            border-left :5px solid $blue;
          }

          &.current:not(:first-child):not(:last-child){
            border-left :5px solid $blue;
            background-color:darken(#fff, 20);
            color:$blue;
            font-weight:bold;
          }
        }
      }
    }
  } 
}