#bibliographyActions {
  text-align: center; 
  justify-content: center;
  display: inline-flex;
  background-color: #0066ff;
  border-radius: 20px;
  padding: 10px;
  min-width: 25vh;
  color: #fff;
  font-weight: 550;
}

.bibliographyActionButton {
  cursor: pointer;
  color: #546e7a;
}
.bibliographyActionButton:hover {
  color: #29434e;
}