#bibliographyActions {
  text-align: center; 
  justify-content: center;
  display: inline-flex;
  background-color: #0066ff;
  border-radius: 20px;
  padding: 10px;
  min-width: 25vh;
  color: #fff;
  font-weight: 550;
  user-select:none;
}

.bibliographyActionButton {
  cursor: pointer;
  color: #546e7a;
}
.bibliographyActionButton:hover {
  color: #29434e;
}

.settingsLink {
  display:block;
  float:right;
  margin-top:1em;

  background-color: #0066FF;
  color: white;
  font-weight: 550;
  user-select:none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  &:hover {
    color:white;
  }
}