@mixin easeOut {
  transition: top 0.3s ease-in-out;
}
.settingsContainer {
  margin-top:5rem;
  padding:0rem 2rem 2rem 2rem;
  #settingsHeader {
    z-index:0;
    margin-top:1em;
    color: #444;
    font-size:20px;
    
  }
  .options {
    display: grid;
    border-radius:8px;
    padding:1rem;
    box-shadow:0 0 1rem rgba(#000,0.2);
    text-align:left;
  }
}

.settingsLabel {
  margin:0.5em 0;
}

.pullTab {
  @include easeOut;
  visibility:hidden;
  position: fixed;
  display:block;
  background-color:#fff;
  z-index:2;
  width:45vw;
  max-width:300px;
  right:20px;
  height:minmax(48px,auto);
  border-radius: 10px;
  padding: 16px;
  display:flex;
  flex-direction: column;
  align-items:center;
  &:not(.expanded){
    top:-80px;
  }

  &:before {
    @include easeOut;
    content:'test';
    position:fixed;
    top:-45px;
    right:4.5rem;
    background-color:#fff;
    color:white;
    -webkit-clip-path: polygon(82% 0, 35% 100%, 100% 100%);
    clip-path: polygon(82% 0, 35% 100%, 100% 100%);
    width:50px;
    user-select:none;
    @media screen and (min-width:800px){
      right:2.8rem;
    }
  }

  &.active {
    @include easeOut;
    visibility:visible;
  &:not(.expanded){
    top: 60px;
  }
    &:before{
      @include easeOut;
        top:45px;
    }
  }
}

#pulltabBtns {
  width:100%;
  text-align:center;
  background-color: #fff;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-evenly;
  cursor: pointer;
  .settingsIcon {
    color:#666;
  }
}

#settingsExpand {
  margin-top:20px;
  box-sizing: border-box;
  padding: 5px;
  border-radius:5px;
  text-align:center;
  cursor: pointer;
  color: #ffffff;
  background-color: #006DFC;
  border: none;
  box-shadow: none;
  outline: 0;
  width:100%;
}

.hiding {
  opacity:0;
  background-color:red;
}

.expanded{
  top: 0;
  overflow:hidden;
  animation-name:expand;
  animation-duration:0.7s;
  animation-fill-mode: forwards;
  box-shadow:0 0 16px rgba(#000, 0.8);
  margin:auto;
  right:0;
  border-radius:0;
  max-width:100%;


  &:before{
    display:none;
  }

  @keyframes expand {
    0%{
      opacity:0;
    }
    50%{
      opacity:0;
      width:1px;
      height:100vh;
    }
    100%{
      width:100vw;
      height:100vh;
    }

  }



  // Container for expanded settings
  .settingsContainer {
    margin-top:5rem;
    width:100%;


    // Header
    .settingsHeader {

    } 
    // Options
    .options {
      // Option Labels
      .settingsLabel {

      }
    }
  }
}