@mixin easeOut {
  transition: top 0.3s ease-out;
}
.container {
  padding:0rem 2rem 2rem 2rem;
  #settingsHeader {
    z-index:0;
    margin-top:1em;
    color: #444;
    font-size:20px;
    
  }
  .options {
    display: grid;
    border-radius:8px;
    padding:1rem;
    box-shadow:0 0 1rem rgba(#000,0.2);
    text-align:left;
  }
}

.settingsLabel {
  margin:0.5em 0;
}

.pullTab {
  @include easeOut;
  position: fixed;
  display:block;
  background-color:#fff;
  z-index:2;
  width:100vw;
  top:-100rem;
  box-shadow: 0 0 1rem rgba(#000,0.2);
  &.active {
    @include easeOut;
    top: 3rem;
  }
}