@import 'node_modules/loaders.css/src/animations/pacman.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: flex;
  justify-content: center;
  margin-top:10px;
}

#bookList {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-content:space-evenly;
  .cardContainer {
    width:calc(100%/4);

    img {
      width:100%;
    }
  }
}

