$blue: #005EEA;
$primary-color: $blue;
@import 'node_modules/loaders.css/src/animations/pacman.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: flex;
  justify-content: center;
  margin-top:10px;
}
  .top{
    background-color: $blue;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      margin-top: 50px;
    }
    label {
      font-weight: bold;
      padding: 50px 0;
    }

 
  }

  .citeForm {
    display:flex;
    justify-content: center;
    margin-top:36px;
    font-size:1rem !important;

    @media screen and (max-width: 680px){ 
     font-size:16px !important;
    }
    .btn {
      margin-left:5px;
    }
  }