<div style="display: flex; justify-content: center;">
  <div class="styles-container">
      <h2>Favorite Styles</h2>
      <div
        cdkDropList
        #favoriteStylesList="cdkDropList"
        [cdkDropListData]="favoriteStyles"
        [cdkDropListConnectedTo]="[stylesList]"
        (cdkDropListDropped)="drop($event)"
        class="style-list">
        <div class="style-box" *ngFor="let style of favoriteStyles" cdkDrag>{{ style.text }}</div>
      </div>
  </div>
  <div class="styles-container">
    <h2>Styles</h2>
    <div
      cdkDropList
      #stylesList="cdkDropList"
      [cdkDropListData]="styles"
      [cdkDropListConnectedTo]="[favoriteStylesList]"
      (cdkDropListDropped)="drop($event)"
      class="style-list">
      <div class="style-box" *ngFor="let style of styles" cdkDrag>{{ style.text }}</div>
    </div>
  </div>
</div>