// Styles from https://material.angular.io/cdk/drag-drop/overview examples
.styles-container {
    display: inline-block;
    vertical-align: top;
}
  
.style-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.style-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.style-box:last-child {
    border: none;
}

.style-list.cdk-drop-list-dragging .style-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 991.97px) {
    .styles-container {
        max-width: 100%;
        margin: 0 25px 25px 0;
    }
}

@media (min-width: 991.98px) {
    .styles-container {
        width: 400px;
        max-width: 100%;
        margin: 0 25px 25px 0;
    }
}