// Styles from https://material.angular.io/cdk/drag-drop/overview examples

.styles-container {
    margin-top: 5vh;
}

@media (max-width: 991.97px) {
    .styles-container {
        display: flex; 
        justify-content: center;
    }
}

@media (min-width: 991.98px) {
    .styles-container {
        display: flex; 
        justify-content: center;
    }
}