// NOTE: When Project is Built, Add all .scss files to .gitignore.
// All scss files will be transpiled into the styles.css file.
@import '~semantic-ui-css/semantic.min.css';
@import './Bibliography/Bibliography';
@import './CiteForm/CiteForm';
@import './Navbar/navbar';
@import './Preview/Preview';
@import './Projects/Projects';
@import './Settings/settings';
@import './StyleSearch/StyleSearch';
@import './WebsiteAutofill/WebsiteAutofill';
@import './BooksAutofill/BooksAutofill.scss';
@import './App';

body {
  margin: 0;
  margin-top:4rem;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

