$blue: rgb(66, 134, 244);
$red: rgb(244, 66, 66);
$gray: rgb(167, 167, 167);
$green: rgb(72, 244, 66);

// Media Queries
// Reference: https://docs.microsoft.com/en-us/windows/uwp/design/layout/screen-sizes-and-breakpoints-for-responsive-design
@mixin mediaSm { // Smartphones
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin mediaMd { // Tablets
  @media screen and (min-width: 641px) and (max-width: 799px) {
    @content;
  }
}

@mixin mediaLg { // Monitors/Laptops
  @media screen and (min-width: 800px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl { // Big Screens 
  @media screen and (min-width: 1171px) {
    @content;
  }
}

@mixin easeOut{
  transition: all 0.3s ease-out;
}

*{
  box-sizing: border-box;
}

#projects {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-evenly;
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;

  div[name="selected"]{
    @include easeOut;
    overflow:hidden;
    border: 1px solid $blue;
    &>* {

      @include easeOut; 
        @keyframes fly {
          from {
            transform: translate3d(0,100%,0);
            z-index:-10;
            opacity:0;
          } to {
            transform: translate3d(0,0,0);
            z-index:0;
            opacity:1;
          }
        }
        animation-name: fly;
        animation-duration: 0.8s;
    }

    order: -1;
  }

  @include mediaSm() {
  grid-template-columns: repeat(1,1fr);
  }
  
  @include mediaMd() {
    grid-template-columns: repeat(2,1fr);
    }

  @include mediaLg() {
    grid-template-columns: repeat(3,1fr);
  }
  
  @include mediaXl() {
    grid-template-columns: repeat(4,1fr);
  }
}



.project-card{
  @include easeOut;
  margin: 1rem;;
  padding: 1.5rem;
  display: grid;
  grid-template-areas: 
  'header'
  'content'
  'footer';

  margin-top: 1rem;
  max-height: 40vh;
  min-width: 20vw;
  max-width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.2);
  overflow:hidden;

  // &:hover {
  //   @include easeOut;
  //   box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.4);
  //   margin-top: .8rem;

  // }

  .card-header {
    grid-area: 'header';
    font-weight: bold;
    font-size: 18px;
    text-align:center;
    color: darken($blue,15);
    text-decoration: underline;
  }

  .project-card-content {
    grid-area: 'content';
    margin-top:1rem;
    text-align: center;
  }

  .card-footer {
    margin-top:2rem;
    grid-area: 'footer';
    display: grid;
    grid-template-areas: 'left center right';
    grid-gap: 2px;
    text-align:center;

    button {
      @include easeOut; 
      border-radius: 5px;
      outline:none;
      font-size: 14px;
      color:#fff;
      border: none;
      height:2rem;

      &:hover {
        cursor: pointer;
      }
      &:nth-child(1){
        grid-area: 'left';
        
        &:enabled {
          background-color: #fff;
          color: $blue;
          border:1px solid $blue;
          &:hover{
            @include easeOut; 
            background-color: $blue;
            color: #fff;
          }
        }
        
        // &:active{
        //   @include easeOut;
        //   @keyframes fade {
        //     from {opacity: 0}
        //     to {opacity: 1}
        //   }

        //   animation-name: fade;
        //   animation-duration: 2s;
        // }
      }
      &:nth-child(2){
        grid-area: 'center';
        background-color: #fff;
        color: $blue;
        border:1px solid $blue;
        &:hover{
          @include easeOut; 
          background-color: $blue;
          color: #fff;
        }
      }
      &:nth-child(3){
        grid-area: 'right';
        background-color: #fff;
        &:enabled {
          color: $red;
          border:1px solid $red;
          font-weight:bold;
          &:hover{
            @include easeOut; 
            background-color: $red;
            color: #fff;
          }
        }
      }

      &.create-button {
        grid-area: center;
        background-color:$blue;
        font-weight:bold;
        float:center;
        &:hover{
          @include easeOut; 
          background-color: #fff;
          color: $blue;
          border:1px solid $blue;
        }
      }

      &:disabled {
        background: #ddd;
        cursor: not-allowed;
      }

    }
  }
}

.new {
  animation: fadein 1s;
}

#fadeOut {
  animation: fadeOut 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut{
  from {opacity:1}
  to {opacity: 0}
}


.projectActionButton {
    cursor: pointer;
    color: #546e7a;
}
.projectActionButton:hover {
    color: #29434e;
}

